{% extends "pages/base.html" %}
{%block postlist%}
          {%for post in posts%}
          <div class="post-preview">
            <a href="/post/{{post.id}}">
              <h2 class="post-title">
                {{post.title}}
              </h2>
              <h3 class="post-subtitle">
                {{post.description}}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{post.created_by}}</a>
              on {{post.published}}</p>
          </div>
          <hr>
          {%endfor%}
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

{%endblock postlist%}