{% extends "pages/base.html" %}

{%block postdetail%}


        <div class="post-heading">
          <h1>{{post.title}}</h1>
          <span class="meta">Posted by
            <a href="#">{{post.created_by}}</a>
            on {{post.published}}</span>
        </div>




<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        {{post.text|safe}}
      </div>
    </div>
  </div>
</article>

<hr>

{%endblock postdetail%}
